{% load static %}
<!-- Start of Footer section
    ============================================= -->
<section id="web-app-footer" class="web-app-footer-section">
    <div class="web-app-footer-top">
        <div class="container">
            <div class="web-app-footer-top-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="web-app-footer-contact">
                            <span>Connect With Us</span>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="web-app-footer-top-menu ul-li">
                            <ul>
                                <li><a href="#">Comapny</a></li>
                                <li><a href="#">Team Members</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Help & FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="web-app-footer-content">
        <div class="container">
            <div class="web-app-footer-wrapper">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="web-app-footer-widget">
                            <div class="web-app-logo-widget pera-content">
                                <div class="web-app-footer-logo float-left">
                                    <a href="#"><img
                                            src="{% static 'theme/img/web-application/logo/logo-2.png' %}"
                                            alt="logo"></a>
                                </div>
                                <div class="web-app-footer-support d-inline-block position-relative">
                                    <span>Copyright by</span>
                                    <a href="#">Themexriver</a> -2021
                                </div>
                                <p>
                                    Free <a href="#">soft-m</a>system for your sales team with all the essential tools
                                    sales funnel, pipeline management, sales reports, <a href="#">360-degree</a>
                                    customer view, support for repeat sales
                                </p>
                                <div class="soft-footer-btn text-center">
                                    <a href="#"><i class="fas fa-desktop"></i> Try A Demo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="web-app-footer-widget web-app-headline pera-content">
                            <div class="web-app-footer-menu-widget ul-li-block">
                                <h3 class="widget-title">Support</h3>
                                <ul>
                                    <li><a href="#">Knowledge Base</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Developer API</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                                <div class="web-app-footer-store">
                                    <a href="#"><img
                                            src="{% static 'theme/img/web-application/logo/i-icon.png' %}" alt=""></a>
                                    <a href="#"><img
                                            src="{% static 'theme/img/web-application/logo/g-icon.png' %}" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="web-app-footer-widget web-app-headline pera-content">
                            <div class="web-app-footer-menu-widget ul-li-block">
                                <h3 class="widget-title">Features</h3>
                                <ul>
                                    <li><a href="#">Sales Management</a></li>
                                    <li><a href="#">Contact Management</a></li>
                                    <li><a href="#">Project Management</a></li>
                                    <li><a href="#">HR Management</a></li>
                                    <li><a href="#">Integrations and API</a></li>
                                    <li><a href="#">Gmail &amp; G Suite</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="web-app-footer-widget web-app-headline pera-content">
                            <div class="web-app-footer-menu-widget ul-li-block">
                                <h3 class="widget-title">About</h3>
                                <ul>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Affiliate Program</a></li>
                                    <li><a href="#">Customer Spotlight</a></li>
                                    <li><a href="#">Reseller Program</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Terms of Service</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Footer section
    ============================================= -->