{% extends 'website/base.html' %}
{% load static %}

{% block title_sub %}
    HOME
{% endblock %}

{% block content %}


    <!-- Start of banner section ============================================= -->
    <section id="web-app-banner" class="web-app-banner-section position-relative">
    <span class="web-app-banner-shape shape-1 position-absolute" data-parallax='{"y" : 100, "rotateY":500}'><img
            src="{% static 'theme/img/web-application/shape/bs3.png' %}" alt=""></span>
        <span class="web-app-banner-shape shape-2 position-absolute" data-parallax='{"y" : 200, "rotateY":500}'><img
                src="{% static 'theme/img/web-application/shape/bs2.png' %}" alt=""></span>
        <span class="web-app-banner-shape shape-3 position-absolute" data-parallax='{"y" : 300, "rotateY":500}'><img
                src="{% static 'theme/img/web-application/shape/bs1.png' %}" alt=""></span>
        <div class="container">
            <div class="web-app-banner-content position-relative">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="web-app-banner-text web-app-headline pera-content">
                            <h1 class="cd-headline push">Ready to fly with <span class="cd-words-wrapper">
                                    <b class="is-visible"> with WFL.</b>
                                    <b>Our Coin</b>
                                    <b>Services</b>
                                </span>
                            </h1>
                            <p>Wealth rich life should be the life of every one, now its possible
                                <b>Join now as free member-Why not?</b>
                            </p>
                            <div class="web-app-banner-form position-relative">
                                <form action="#" method="POST">
                                    <input type="email" placeholder="Your mail address...">
                                    <button type="submit">Get email alerts!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 my-5 py-5">
                        <div class="web-app-banner-vector position-relative text-right">
                            <div class="web-app-banner-vector-img-1 wow zoomIn" data-wow-delay="0ms"
                                 data-wow-duration="1000ms">
                                <img src="{% static 'theme/img/tree-coins.png' %}" alt="">
                            </div>
                            <div class="web-app-banner-vector-img-2 position-absolute">
                                <div class="web-app-banner-v-img wow fadeInLeft" data-wow-delay="600ms"
                                     data-wow-duration="1000ms">
                                    <img src="{% static 'theme/img/web-application/banner/bv-3.png' %}" alt="">
                                </div>
                            </div>
                            <div class="web-app-banner-vector-img-3 position-absolute">
                                <div class="web-app-banner-v-img  wow fadeInRight" data-wow-delay="700ms"
                                     data-wow-duration="1000ms">
                                    <img src="{% static 'theme/img/web-application/banner/bv-1.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of banner section ============================================= -->


    <!-- Start of feature section ============================================= -->
    <section id="web-app-feature" class="web-app-feature-section">
        <div class="container">
            <div class="web-app-section-title web-app-headline text-center">
                <h2>BENEFITS TO START ON EARLY STAGE<span>Some text here about 5 words</span></h2>
            </div>
            <div class="web-app-feature-content">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <div class="web-app-feature-innerbox">
                            <div class="web-app-feature-icon position-relative">
                            <span class="web-app-f-shape position-absolute shape1"><img
                                    src="{% static 'theme/img/web-application/shape/f-sh1.png' %}" alt=""></span>
                                <span class="web-app-f-shape position-absolute shape2"><img
                                        src="{% static 'theme/img/web-application/shape/f-sh2.png' %}" alt=""></span>
                                <span class="web-app-f-shape position-absolute shape3"><img
                                        src="{% static 'theme/img/web-application/shape/f-sh3.png' %}" alt=""></span>
                                <img src="{% static 'theme/img/web-application/icon/f-icon1.png' %}" alt="">
                            </div>
                            <div class="web-app-feature-text web-app-headline pera-content">
                                <h3><a href="#">Free Balance</a></h3>
                                <p>{% lorem 20 w %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="100ms" data-wow-duration="1000ms">
                        <div class="web-app-feature-innerbox">
                            <div class="web-app-feature-icon position-relative">
                            <span class="web-app-f-shape position-absolute shape1"><img
                                    src="{% static 'theme/img/web-application/shape/f-sh1.png' %}" alt=""></span>
                                <span class="web-app-f-shape position-absolute shape2"><img
                                        src="{% static 'theme/img/web-application/shape/f-sh2.png' %}" alt=""></span>
                                <span class="web-app-f-shape position-absolute shape3"><img
                                        src="{% static 'theme/img/web-application/shape/f-sh3.png' %}" alt=""></span>
                                <img src="{% static 'theme/img/web-application/icon/f-icon2.png' %}" alt="">
                            </div>
                            <div class="web-app-feature-text web-app-headline pera-content">
                                <h3><a href="#">High Rate</a></h3>
                                <p>{% lorem 20 w %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="300ms" data-wow-duration="1000ms">
                        <div class="web-app-feature-innerbox">
                            <div class="web-app-feature-icon position-relative pera-content">
                            <span class="web-app-f-shape position-absolute shape1"><img
                                    src="{% static 'theme/img/web-application/shape/f-sh1.png' %}" alt=""></span>
                                <span class="web-app-f-shape position-absolute shape2"><img
                                        src="{% static 'theme/img/web-application/shape/f-sh2.png' %}" alt=""></span>
                                <span class="web-app-f-shape position-absolute shape3"><img
                                        src="{% static 'theme/img/web-application/shape/f-sh3.png' %}" alt=""></span>
                                <img src="{% static 'theme/img/web-application/icon/f-icon3.png' %}" alt="">
                            </div>
                            <div class="web-app-feature-text web-app-headline">
                                <h3><a href="#">Full Access</a></h3>
                                <p>{% lorem 20 w %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="400ms" data-wow-duration="1000ms">
                        <div class="web-app-feature-innerbox">
                            <div class="web-app-feature-icon position-relative">
                            <span class="web-app-f-shape position-absolute shape1"><img
                                    src="{% static 'theme/img/web-application/shape/f-sh1.png' %}" alt=""></span>
                                <span class="web-app-f-shape position-absolute shape2"><img
                                        src="{% static 'theme/img/web-application/shape/f-sh2.png' %}" alt=""></span>
                                <span class="web-app-f-shape position-absolute shape3"><img
                                        src="{% static 'theme/img/web-application/shape/f-sh3.png' %}" alt=""></span>
                                <img src="{% static 'theme/img/web-application/icon/f-icon1.png' %}" alt="">
                            </div>
                            <div class="web-app-feature-text web-app-headline pera-content">
                                <h3><a href="#">Free Balance</a></h3>
                                <p>{% lorem 20 w %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="500ms" data-wow-duration="1000ms">
                        <div class="web-app-feature-innerbox">
                            <div class="web-app-feature-icon position-relative">
                            <span class="web-app-f-shape position-absolute shape1"><img
                                    src="{% static 'theme/img/web-application/shape/f-sh1.png' %}" alt=""></span>
                                <span class="web-app-f-shape position-absolute shape2"><img
                                        src="{% static 'theme/img/web-application/shape/f-sh2.png' %}" alt=""></span>
                                <span class="web-app-f-shape position-absolute shape3"><img
                                        src="{% static 'theme/img/web-application/shape/f-sh3.png' %}" alt=""></span>
                                <img src="{% static 'theme/img/web-application/icon/f-icon2.png' %}" alt="">
                            </div>
                            <div class="web-app-feature-text web-app-headline pera-content">
                                <h3><a href="#">High Rate</a></h3>
                                <p>{% lorem 20 w %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="600ms" data-wow-duration="1000ms">
                        <div class="web-app-feature-innerbox">
                            <div class="web-app-feature-icon position-relative pera-content">
                            <span class="web-app-f-shape position-absolute shape1"><img
                                    src="{% static 'theme/img/web-application/shape/f-sh1.png' %}" alt=""></span>
                                <span class="web-app-f-shape position-absolute shape2"><img
                                        src="{% static 'theme/img/web-application/shape/f-sh2.png' %}" alt=""></span>
                                <span class="web-app-f-shape position-absolute shape3"><img
                                        src="{% static 'theme/img/web-application/shape/f-sh3.png' %}" alt=""></span>
                                <img src="{% static 'theme/img/web-application/icon/f-icon3.png' %}" alt="">
                            </div>
                            <div class="web-app-feature-text web-app-headline">
                                <h3><a href="#">Full Access</a></h3>
                                <p>{% lorem 20 w %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of feature section ============================================= -->

    <!-- Start of fun fact section ============================================= -->
    <section id="web-app-fun-fact" class="web-app-fun-fact-section">

        {# USERS COUNT #}
        <div class="container text-center">
            <div class="web-app-section-title web-app-headline text-center">
                <h2><span>REGISTRATIONS NOW</span></h2>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="web-app-fun-fact-counter">
                        <div class="web-app-fun-fact-number pera-content">
                            <span class="odometer" data-count="10000">00</span><strong>+</strong>
                            <p>TOTAL</p>
                            <div class="fun-bottom-shape"><img
                                    src="{% static 'theme/img/web-application/shape/fn-sh1.png' %}" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="web-app-fun-fact-counter">
                        <div class="web-app-fun-fact-number pera-content">
                            <span class="odometer" data-count="6666">00</span><strong>+</strong>
                            <p>REGISTERED</p>
                            <div class="fun-bottom-shape"><img
                                    src="{% static 'theme/img/web-application/shape/fn-sh2.png' %}" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="web-app-fun-fact-counter">
                        <div class="web-app-fun-fact-number pera-content">
                            <span class="odometer" data-count="3333">00</span><strong>+</strong>
                            <p>AVAILABLE</p>
                            <div class="fun-bottom-shape"><img
                                    src="{% static 'theme/img/web-application/shape/fn-sh3.png' %}" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# TIME COUNT #}
        <div class="container mt-5 text-center">
            <div class="web-app-section-title web-app-headline text-center">
                <h2><span>OFFER EXPIRES WITHIN</span></h2>
            </div>
            <div class="row mt-4">
                <div class="col-md-3">
                    <div class="web-app-fun-fact-counter">
                        <div class="web-app-fun-fact-number pera-content">
                            <span class="odometer" id="days">00</span><strong>+</strong>
                            <p>DAYS</p>
                            <div class="fun-bottom-shape"><img
                                    src="{% static 'theme/img/web-application/shape/fn-sh1.png' %}" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="web-app-fun-fact-counter">
                        <div class="web-app-fun-fact-number pera-content">
                            <span class="odometer" id="hours">00</span><strong>+</strong>
                            <p>HOURS</p>
                            <div class="fun-bottom-shape"><img
                                    src="{% static 'theme/img/web-application/shape/fn-sh2.png' %}" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="web-app-fun-fact-counter">
                        <div class="web-app-fun-fact-number pera-content">
                            <span class="odometer" id="minutes">00</span><strong>+</strong>
                            <p>MINUTES</p>
                            <div class="fun-bottom-shape"><img
                                    src="{% static 'theme/img/web-application/shape/fn-sh3.png' %}" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="web-app-fun-fact-counter">
                        <div class="web-app-fun-fact-number pera-content">
                            <span class="odometer" id="seconds">00</span><strong>+</strong>
                            <p>SECONDS</p>
                            <div class="fun-bottom-shape"><img
                                    src="{% static 'theme/img/web-application/shape/fn-sh1.png' %}" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- End of fun fact section ============================================= -->

    <!-- Start of about section ============================================= -->
    <section id="web-app-about" class="web-app-about-section">
        <div class="container">
            <div class="web-app-about-text-img  web-app-about-left-img">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="web-app-about-text web-app-headline pera-content">
                            <div class="web-app-section-title web-app-headline wow fadeFromUp" data-wow-delay="300ms"
                                 data-wow-duration="1000ms">
                                <h2>ADVATANGES <span>{% lorem 3 w %}</span></h2>
                            </div>
                            <div class="web-app-about-txt-content wow fadeFromUp" data-wow-delay="600ms"
                                 data-wow-duration="1000ms">
                                <ul class="">
                                    <li>{% lorem 12 w %}</li>
                                    <li>{% lorem 10 w %}</li>
                                    <li>{% lorem 11 w %}</li>
                                    <li>{% lorem 10 w %}</li>
                                </ul>
                            </div>
                            <a class="web-app-about-btn text-center wow fadeFromUp" data-wow-delay="900ms"
                               data-wow-duration="1000ms" href="#">LINK OR BUTTON <i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeFromRight" data-wow-delay="600ms" data-wow-duration="1000ms">
                        <div class="web-app-about-img-content position-relative">
                            <div class="web-about-img-1">
                                <img src="{% static 'theme/img/web-application/about/w-abt1.png' %}" alt="">
                            </div>
                            <div class="web-about-img-2 position-absolute" data-parallax='{"x" : 50}'>
                                <div class="web-about-img-wrap">
                                    <img src="{% static 'theme/img/web-application/about/w-abt2.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="web-app-about-text-img  web-app-about-right-img">
                <div class="row">
                    <div class="col-lg-7  wow fadeFromUp" data-wow-delay="300ms" data-wow-duration="1000ms">
                        <div class="web-app-about-img-content position-relative">
                            <div class="web-about-img-1">
                                <img src="{% static 'theme/img/web-application/about/w-abt3.png' %}" alt="">
                            </div>
                            <div class="web-about-img-2 position-absolute" data-parallax='{"y" : -50}'>
                                <div class="web-about-img-wrap">
                                    <img src="{% static 'theme/img/web-application/about/w-abt4.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="web-app-about-text web-app-headline pera-content">
                            <div class="web-app-section-title web-app-headline  wow fadeFromUp" data-wow-delay="300ms"
                                 data-wow-duration="1000ms">
                                <h2>SOME OTHER INFO ?<span>Use not defined</span></h2>
                            </div>
                            <div class="web-app-about-txt-content  wow fadeFromUp" data-wow-delay="600ms"
                                 data-wow-duration="1000ms">
                                <ul class="">
                                    <li>{% lorem 12 w %}</li>
                                    <li>{% lorem 10 w %}</li>
                                    <li>{% lorem 11 w %}</li>
                                    <li>{% lorem 10 w %}</li>
                                </ul>
                            </div>
                            <a class="web-app-about-btn text-center  wow fadeFromUp" data-wow-delay="900ms"
                               data-wow-duration="1000ms" href="#">LINK OR BUTTON<i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of about section ============================================= -->

    <!-- Start of  pricing section
        ============================================= -->
    <section id="web-app-pricing" class="web-app-pricing-section">
        <div class="container">
            <div class="web-app-section-title web-app-headline text-center">
                <h2>BEST SUBSCRIPTION OFFERS<span>Some extra text</span></h2>
            </div>
            <div class="web-app-pricing-plan-item">
                <div class="web-app-pricing-plan-tab-btn ul-li text-center clearfix">
                    <div id="tabsContent" class="tab-content">
                        <div id="yearly" class="tab-pane fade active show">
                            <div class="row justify-content-center">
                                <div class="col-lg-3 col-md-6  wow fadeFromUp" data-wow-delay="00ms"
                                     data-wow-duration="1000ms">
                                    <div class="web-app-pricing-plan web-app-headline text-center ul-li-block">
                                        <div class="web-app-pricing-title">
                                            <h3>Basic</h3>
                                            <span>some text</span>
                                        </div>
                                        <div class="web-app-pricing-price">
                                            <span>$</span>0
                                        </div>
                                        <div class="web-app-pricing-content clearfix">
                                            <ul>
                                                <li>{% lorem 4 w %}</li>
                                                <li>{% lorem 3 w %}</li>
                                                <li>{% lorem 2 w %}</li>
                                                <li>{% lorem 5 w %}</li>
                                                <li>{% lorem 4 w %}</li>
                                            </ul>
                                        </div>
                                        <div class="web-app-price-btn text-capitalize">
                                            <a href="#">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6  wow fadeFromUp" data-wow-delay="300ms"
                                     data-wow-duration="1000ms">
                                    <div class="web-app-pricing-plan web-app-headline text-center ul-li-block">
                                        <div class="web-app-pricing-title">
                                            <h3>Standard</h3>
                                            <span>some text</span>
                                        </div>
                                        <div class="web-app-pricing-price">
                                            <span>$</span>30
                                        </div>
                                        <div class="web-app-pricing-content clearfix">
                                            <ul>
                                                <li>{% lorem 4 w %}</li>
                                                <li>{% lorem 3 w %}</li>
                                                <li>{% lorem 2 w %}</li>
                                                <li>{% lorem 5 w %}</li>
                                                <li>{% lorem 4 w %}</li>
                                            </ul>
                                        </div>
                                        <div class="web-app-price-btn text-capitalize">
                                            <a href="#">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6  wow fadeFromUp" data-wow-delay="900ms"
                                     data-wow-duration="1000ms">
                                    <div class="web-app-pricing-plan web-app-headline text-center ul-li-block">
                                        <div class="web-app-pricing-title">
                                            <h3>Premium</h3>
                                            <span>some text</span>
                                        </div>
                                        <div class="web-app-pricing-price">
                                            <span>$</span>60
                                        </div>
                                        <div class="web-app-pricing-content clearfix">
                                            <ul>
                                                <li>{% lorem 4 w %}</li>
                                                <li>{% lorem 3 w %}</li>
                                                <li>{% lorem 2 w %}</li>
                                                <li>{% lorem 5 w %}</li>
                                                <li>{% lorem 4 w %}</li>
                                            </ul>
                                        </div>
                                        <div class="web-app-price-btn text-capitalize">
                                            <a href="#">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6  wow fadeFromUp" data-wow-delay="1200ms"
                                     data-wow-duration="1000ms">
                                    <div class="web-app-pricing-plan web-app-headline text-center ul-li-block">
                                        <div class="web-app-pricing-title">
                                            <h3>Ultimate</h3>
                                            <span>some text</span>
                                        </div>
                                        <div class="web-app-pricing-price">
                                            <span>$</span>120
                                        </div>
                                        <div class="web-app-pricing-content clearfix">
                                            <ul>
                                                <li>{% lorem 4 w %}</li>
                                                <li>{% lorem 3 w %}</li>
                                                <li>{% lorem 2 w %}</li>
                                                <li>{% lorem 5 w %}</li>
                                                <li>{% lorem 4 w %}</li>
                                            </ul>
                                        </div>
                                        <div class="web-app-price-btn text-capitalize">
                                            <a href="#">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of pricing section
        ============================================= -->

    <!-- Start of  newslatter section
        ============================================= -->
    <section id="web-app-newslatter" class="web-app-newslatter-section">
        <div class="web-app-newslatter-content position-relative">
        <span class="web-app-newslatter-bg position-absolute"><img
                src="{% static 'theme/img/web-application/wn-bg.png' %}" alt=""></span>
            <div class="container">
                <div class="web-app-newslatter-wrap">
                    <div class="web-app-section-title text-center pera-content web-app-headline">
                        <h2>Get the latest update of WFL Services <span>Subscribe Now!</span></h2>
                        <p>{% lorem 20 w %}</p>
                    </div>
                    <div class="web-app-newslatter-form position-relative">
                        <input type="text" placeholder="Enter your mail address">
                        <button>Subscribe Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of  newslatter section
        ============================================= -->
{% endblock %}

{% block js_code %}
    <script>
        (function () {
            const second = 1000,
                minute = second * 60,
                hour = minute * 60,
                day = hour * 24;

            let birthday = "Sep 30, 2021 00:00:00",
                countDown = new Date(birthday).getTime(),
                x = setInterval(function () {

                    let now = new Date().getTime(),
                        distance = countDown - now;

                    document.getElementById("days").innerText = Math.floor(distance / (day)),
                        document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
                        document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
                        document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

                    //do something later when date is reached
                    if (distance < 0) {
                        let headline = document.getElementById("headline"),
                            countdown = document.getElementById("countdown"),
                            content = document.getElementById("content");

                        headline.innerText = "It's my birthday!";
                        countdown.style.display = "none";
                        content.style.display = "block";

                        clearInterval(x);
                    }
                    //seconds
                }, 0)
        }());
    </script>
{% endblock %}